@use "../1_base/variables";
@import "../3_modules/modules.scss";

.author {
    display: flex;

    
    @include tablet{
        flex-direction: column
    }
    
    @include mobile{
        flex-direction: column
    }

    
    
    button {
        @extend %primary-button;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    }
    
    &__maquiavel {
        @extend %author-background-image;
        background-image: url("./img/maquiavel.jpg");
    }

    &__tesla {
        @extend %author-background-image;
        background-image: url("./img/Tesla_Sarony.jpg");
    }

    &__nietszche{
        @extend %author-background-image;
        background-image: url("./img/nietzche.jpg");
    }

    &__reneDescartes{
        @extend %author-background-image;
        background-image: url("./img/Rene_Descartes.jpg");
    }
}