@use "../1_base/variables";
@import "../3_modules/modules.scss";

.header {
    background-color: variables.$primary-bgColor;
    padding: 25px ;
    font-size: 1.72em;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;

    @include desktop{
        padding: 15px 0px;
        font-size: 2.8em;
    }

    @include tableTop{
        padding: 35px 0px;
        gap: 20px;
        font-size: 1.57em;
    }

   @include iTablet{
        justify-content: space-around;
        font-size: 2em;
   }
    
    @include tablet{
        justify-content: space-around;
        padding: 25px 0px;
        font-size: 1.6em;
    }

    @include mobile{
        justify-content: space-around;
        padding: 15px 0px;
    }


    &__container{

        @include iTablet{
            display: none;
        }

        @include tablet{
            display: none;
        }

        @include mobile{
            display: none;
        }
    }
    
    a{
        color: white;
    }

    &__brand{
        display: flex;
        box-sizing: border-box;
        gap: 5px;
        color: white;
        border-bottom: 1px solid white;
        font-weight: bold;

        @include iTablet{
            font-size: 1.2em;
            gap: 15px;
        }
        
        
        @include mobile{
            font-size: 1em;
        }
        
        &__icon{
            font-size: 1.5em;
            color: variables.$primary-color;
        }
    }
    
    &__nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 55px;
        color: white;

        
        a:hover{
            text-decoration: underline;
        }
        
        
    }

    &__menu{

        
        &__icon{
            display: none;
            font-size: 1.5em;
            color: white;
            cursor: pointer;

            @include iTablet{
                display: block;
                font-size: 1.8em;
            }
            
            @include tablet{
                display: block;
            }

            @include mobile{
                display: block;
            }
        }

    }
    


}

.header__miniMenu{
    
    &__container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 0px;
        background-color: variables.$primary-bgColor;
        font-size: 1.2em;

        @include iTablet{
            font-size: 1.8em;
            padding: 10px 0;
        }
        
        @include tablet{
            font-size: 1.5em;
        }
        
        @include mobile{
            font-size: 1.25em;
        }
        
        a{
            color: white;

            &:hover{
                text-decoration: underline;
            }
        }
    }
    
}