@use "../1_base/variables";
@import "../3_modules/modules.scss";

.recommendation{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55em;
    padding-top: 25px;
    background-color: variables.$secondary-bgColor;
    color: variables.$primary-bgColor;
    
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        background-color: variables.$secondary-color;
        border: 1px solid black;
        width: 43em;
        height: 40em;
        border-radius: 25px;
        
        @include iTablet{
            width: 85%;
        }
        
        @include tablet{
            width: 98%;
            height: 45em;
            font-size: .95em;
        }
        
        @include mobile{
            width: 26em;
            height: 45em;
            font-size: .9em;
        }
        
        &__title{
            text-align: center;
            padding-top: 15px;

            @include tablet{
                margin-left: 15px;
            }
        }

        label{
            font-weight: bold;
            font-size: 1.2em;

            @include tablet{
                font-size: 1.3em;
                padding-left: 15px;
            }
            
        }

        &__name{
            width: 100%;
            height: 10%;
            margin-left: 10%;
            

            @include tablet{
                width: 90%;
                margin-left: 2%;
            }

            @include mobile{
                margin-left: -5%;
            }
            

            input{
                width: 75%;
                border: none;
                margin: 0 12px;
                padding-left: 10px;
                padding-bottom: 5px;
                border-bottom: 1px solid black;
                font-size: 1.2em;
                background-color: transparent;
                margin-left: 2%;

                @include mobile{
                    width: 73%;
                    margin-left: 1%;
                    padding-left: 5px;
                }

                &:focus{
                    outline: none;
                }
                
                &::placeholder{
                    color: #363636;
                    font-style: italic;
                    padding-left: 5px;
                }
                
            }
            
        }
        
        
        &__email{
            width: 100%;
            height: 10%;
            margin-left: 10%;

            @include tablet{
                width: 90%;
                margin-left: 2%;
            }
            
            @include mobile{
                margin-left: -5%;
            }
            
            input{
                width: 75%;
                border: none;
                margin: 0 12px;
                padding-left: 10px;
                padding-bottom: 5px;
                border-bottom: 1px solid black;
                font-size: 1.2em;
                background-color: transparent;
                margin-left: 2%;
                cursor: not-allowed;

                @include mobile{
                    width: 73%;
                    margin-left: 1%;
                    padding-left: 5px;
                }
    
                &:disabled{
                    background-color: transparent;
                }
    

                &:focus{
                    outline: none;
                }
                
                &::placeholder{
                    color: #363636;
                    font-style: italic;
                    padding-left: 5px;
                }
                
            }
        }

        &__authors{
            width: 90%;
            height: 15em;


            @include tablet{
                width: 90%;
                margin-left: 5px;
                
                label{
                    margin-left: -20px;
                    font-size: 1.2em;
                }
            }
            
            @include mobile{
                width: 23em;
                height: 15em;
                margin-left: 15px;

                label{
                    margin-left: -20px;
                    font-size: 1.3em;
                }
            }
            
            legend{
                font-weight: bold;
                font-size: 1.2em;

                
                @include tablet{
                    font-size: 1.3em;
                }
            }

            &__choice{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 5px 15px;

                @include mobile{
                    font-size: 1em;
                }

                span{
                    margin-left: 10px;
                }
            }
        }

        &__buttonActived {
            @extend %primary-button;
            color: variables.$primary-bgColor;
            border-color: variables.$primary-bgColor;

            @include mobile{
                margin: auto;
            }
        }

    }

    &__voted{
        background-color: #DDF4F8;
        padding: 15px 25px;
        border: 1px solid black;
        border-radius: 15px;
        
        &__message{
            background-color: #EEFAFC;
            text-align: center;
            font-weight: bold;
            font-size: 1.5em;
            line-height: 2em;
            border: 1px solid black;
            border-radius: 10px;
            width: 30em;
            padding: 15px 25px;

            p{
                margin-bottom: 20px;
            }

            @include tableTop{
                width: 30em;
                font-size: 1.5em;

            }
            
            @include iTablet{
                width: 30em;
                font-size: 1.3em;
                
            }

            @include tablet{
                width: 20em;
            }
            
            @include mobile{
                width: 13em;

            }
        }

        &__change{
            text-align: center;
            margin-top: 25px;
            font-size: 1.2em;
            font-style: oblique;

            button{
                @extend %primary-button;
                margin-top: 15px;
                background-color: variables.$primary-bgColor;
                width: 175px;
                border: 1px solid black;
                font-size: 0.95em;
            }
        }
        
    }
}